* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%)
}

main {
    width: 90vw;
    height: 80vh;
    max-width: 400px;
    max-height: 550px;
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    overflow: hidden;
}

header {
    width: 100%;
    height: 180px;
    background-image: url('./images/illustration-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

.cont {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-weight: 900;
}

p {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

.plan {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(225, 22%, 93%);
}

.price {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

a {
    color: rgba(56, 41, 224, 1);
    font-weight: 500;
}

.buttons {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.btn-confirm {
    margin-top: 20px;
    padding: 14px;
    background-color: rgba(56, 41, 224, 1);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-weight: 700;
    -webkit-box-shadow: 1px 11px 10px -3px rgba(56, 41, 224, 0.1);
    -moz-box-shadow: 1px 11px 10px -3px rgba(56, 41, 224, 0.1);
    box-shadow: 1px 11px 10px -3px rgba(56, 41, 224, 0.1);
}

.btn-cancel {
    margin-top: 20px;
    border-radius: 10px;
    color: aliceblue;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}